.content-no-title {
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0px;
}


#logo {
	margin: 30px 0px 0;
	padding: 0;
	background: none;
	width: 321px;
	left: 12px;
}


.clear { clear: both; }


.grayback .pane-content {
	background: none;
}
.grayback ul {
	background: none;
	padding: 0;

}

#features .two-col tr {
border-bottom: solid 1px white;
height: 15px;
}

.grayback table {
	border-spacing: 0px;
}

.grayback table.two-col {
font-size: 11px;
padding: 0px;
}

.grayback table.two-col h4 {
color: #223F5D;
font-family: 'Conv_ClanOT-Medium';
font-size: 11px;
}

.grayback table.two-col td {
vertical-align: top;
height: 10px;
background-color: #E8E8E8;
border-bottom: solid 1px white;
}

.grayback .first-col {
width: 130px;
padding: 8px 19px 0px;
}

.grayback .second-col {
width: 135px;
padding: 8px 0px 0px;
}

.grayback .third-col {
width: 135px;
padding: 8px 0px 0px;
}

.grayback .fourth-col {
width: 135px;
padding: 8px 0px 0px;
}

.grayback .views-field-field-updates-body {
	line-height: 1.5em;
	font-size: 11px;
}

.grayback .field-content {
float: left;
left: 40px;
width: 100%;
padding-bottom: 5px;
font-family: 'Conv_ClanOT-News';
font-size: 11px;
line-height: 1.5em;
}

.breadcrumb {
	top: 115px;
}

element.style {
}

#link-to-branding {
	width: 140px;
}

#block-menu-menu-left-margin-menu ul.menu ul.menu {
	width: 248px;
}

#block-menu-menu-left-margin-menu ul.menu ul.menu.drop_down {
	width: 200px !important;
}